/* import nunito font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
// import Cinzel Decorative
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}
//variables
$bg-color: #191f36;
$snd-bg-color: #262b40;
$main-color: #59b2f4;
$text-color: #fff;

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: $bg-color;
  color: $text-color;
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: $bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 900;
  cursor: default;
  font-family: "Cinzel Decorative", cursive;
}
.navbar {
  a {
    font-size: 1.9rem;
    color: $text-color;
    margin-left: 4rem;
    font-weight: 700;
    &:hover {
      color: $main-color;
    }
    &.active {
      color: $main-color;
    }
  }
}
#menu-icon {
  font-size: 3.6rem;
  color: $text-color;
  display: none;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
  }
  h3 {
    font-size: 3.2rem;
    font-weight: 700;
  }
  h3:nth-of-type(2) {
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.6rem;
  }
}
span {
  color: $main-color;
}
.social-media {
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid $main-color;
    border-radius: 50%;
    font-size: 2rem;
    color: $main-color;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
    &:hover {
      background: $main-color;
      color: $snd-bg-color;
      box-shadow: 0 0 1rem $main-color;
      transform: scale(1.1);
    }
  }
}

.home-img img {
  width: 25vw;
  animation: floatImage 4s ease-in-out infinite;
  border-radius: 50%;
  margin-left: 36px;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: $main-color;
  border-radius: 4rem;
  box-shadow: 0 0 1rem $main-color;
  font-size: 1.6rem;
  color: $bg-color;
  margin: 2px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
  &:hover {
    box-shadow: none;
  }
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: $snd-bg-color;
}
.about-img img {
  width: 35vw;
}
.heading {
  text-align: center;
  font-size: 4.5rem;
}
.about-content {
  h2 {
    text-align: left;
    line-height: 1.2;
  }
  h3 {
    font-size: 2.6rem;
  }
  p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
  }
}
.services {
  h2 {
    margin-bottom: 5rem;
  }
}
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  .services-box {
    flex: 1 1 30rem;
    background: $snd-bg-color;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid $bg-color;
    transition: 0.5s ease;
    &:hover {
      border-color: $main-color;
      transform: scale(1.02);
    }
    i {
      font-size: 7rem;
      color: $main-color;
    }
    h3 {
      font-size: 2.6rem;
      // margin: 2rem 0;
    }
    p {
      font-size: 1.6rem;
      margin: 1rem 0 3rem;
    }
  }
}
.portfolio {
  background: $snd-bg-color;
  h2 {
    margin-bottom: 4rem;
  }
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem $bg-color;
    overflow: hidden;
    display: flex;
  }
}
.portfolio-box {
  img {
    width: 100%;
    transition: 0.5s ease;
    opacity: 0.7;
    &:hover {
      scale: 1.1;
    }
  }
  .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba($main-color, 0.4),
      rgba($snd-bg-color, 0.9)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
  }
  &:hover {
    .portfolio-layer {
      transform: translateY(0);
    }
  }
}
.portfolio-layer {
  h4 {
    font-size: 3rem;
  }
  p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
  }
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: $main-color;
    border-radius: 50%;
    i {
      font-size: 2rem;
      color: $snd-bg-color;
    }
  }
}
.contact {
  h2 {
    margin-bottom: 3rem;
  }
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
  .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    input {
      width: 100%;
      padding: 1.5rem;
      font-size: 1.6rem;
      color: $snd-bg-color;
      border-radius: 0.8rem;
      margin: 0.7rem 0;
      width: 49%;
    }
  }
  textarea {
    resize: none;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: $snd-bg-color;
    border-radius: 0.8rem;
    margin: 0.7rem 0;
  }
  .btn {
    margin-top: 2rem;
    cursor: pointer;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: $snd-bg-color;
}
.footer-text {
  font-size: 1.6rem;
}
.footer-iconTop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  background: $main-color;
  border-radius: 0.8rem;
  transition: 0.5s ease;
  &:hover {
    box-shadow: 0 0 1rem $main-color;
  }
  a i {
    font-size: 2.4rem;
    color: $snd-bg-color;
  }
}

// BREAKPOINT
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3%;
  }
  .services {
    padding: 7rem;
  }
  .portfolio {
    padding-bottom: 7rem;
  }
  .contact {
    min-height: auto;
  }
  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .home {
    flex-direction: column;
  }
  .home-content {
    order: 2;
    h3 {
      font-size: 2.6rem;
    }
    h1 {
      font-size: 5rem;
    }
  }
  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column;
  }
  .about-img img {
    width: 90vw;
    margin-top: 4rem;
  }
  .services h2 {
    margin-bottom: 3rem;
  }
  .portfolio h2 {
    margin-bottom: 3rem;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
