/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
/* root colors */
:root {
  --accent: #d3e97a;
  --body-dark: #0a0a0a;
  --button-back: #222222;
}
body,
header {
  @apply bg-bodydark;
}
